/*Styling that applies to Landing Page*/
.intro {
  background: $main-color;
  width: 100%;
}

  /*Navigation Styling*/
  nav {
    min-height: 10vh;
    width: 100%;
    padding: 0 100px;
    background: $secondary-color;
    @include flex(row, space-between, center);
    position: relative;
    #logo{
      font-size: $header2;
      flex: 1 1 40rem;
    }
  }


.nav-links{
  flex: 1 1 40rem;
  @include flex(row, space-evenly, center);
  li a {
    color: $main-color;
    &:hover{
        text-decoration: underline;
    }
  }
}

.burger{
  display: none;
  cursor: pointer;
}

.burger div{
  width: 25px;
  height: 2px;
  margin: 5px;
  background-color: $main-color;
}

/*Banner Styling*/
.banner {
  min-height: 90vh;
  width: 100%;
  padding: 0 100px;
  position: relative;
  @include flex(row, flex-start, center);
  overflow: hidden;
  img {
    position: absolute;
    top: 0%;
    right: 0%;
    width: 600px;
    height: auto;
    z-index: 1;
    animation: plant-entrance 1.5s ease-in-out 0.5s forwards,
      wiggle 2.5s infinite ease alternate-reverse 2s;
    transform-origin: top;
  }
}

.banner-content {
  z-index: 100;
  @include flex(column, space-between, flex-start);
  h1 {
    font-size: 8rem;
    color: $secondary-color;
  }
  h4 {
    font-size: $header2;
    color: $secondary-color;
    padding: 5rem 0;
  }
  .action-buttons {
    @include flex(row, space-between, center);
    flex-wrap: wrap;
    width: 100%;
  }
}

@media screen and (max-width: 755px) {
  html{
    font-size: 52%;
  }

  /*Making the navbar responsive*/
  .burger{
    display: block;
  }

  .nav-links{
    position: absolute;
    width: 100%;
    height: 90vh;
    top: 10vh;
    right:0;
    background: white;
    @include flex(column, space-evenly, center);
    z-index: 999;
    transform: translateX(100%);
    transition: all 1s ease-in-out;
  }

  .nav-active{
    transform: translateX(0%)
  }
  /*End of nav styling*/
  
  .banner{
    padding: 25px;
  }

  .main-button{
    margin: 1rem;
  }

  .secondary-button{
    margin: 1rem;
  }
}
