@-webkit-keyframes opening {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes opening {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes plant-entrance {
  from {
    -webkit-transform: rotateX(-90deg);
            transform: rotateX(-90deg);
  }
  to {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
}

@keyframes plant-entrance {
  from {
    -webkit-transform: rotateX(-90deg);
            transform: rotateX(-90deg);
  }
  to {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
}

@-webkit-keyframes wiggle {
  from {
    -webkit-transform: rotateX(-20deg);
            transform: rotateX(-20deg);
  }
  to {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
}

@keyframes wiggle {
  from {
    -webkit-transform: rotateX(-20deg);
            transform: rotateX(-20deg);
  }
  to {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
}

@-webkit-keyframes plant-shake {
  from {
    -webkit-transform: rotateZ(5deg);
            transform: rotateZ(5deg);
  }
  to {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
}

@keyframes plant-shake {
  from {
    -webkit-transform: rotateZ(5deg);
            transform: rotateZ(5deg);
  }
  to {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
}

@media screen and (max-width: 800px) {
  html {
    font-size: 52%;
  }
}

/*Button styling*/
.main-button {
  margin-right: 2rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25rem;
          flex: 1 1 25rem;
  background: #cc9964;
  color: #ffffff;
  border: 2px solid #cc9964;
  padding: 10px 25px;
}

.secondary-button {
  margin-left: 2rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25rem;
          flex: 1 1 25rem;
  background: #0f3e36;
  color: #ffffff;
  border: 2px solid #ffffff;
  padding: 10px 25px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: #0f3e36;
  -webkit-animation: opening 1s ease-in-out forwards;
          animation: opening 1s ease-in-out forwards;
  overflow-x: hidden;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.2rem;
}

h3 {
  font-size: 2.6rem;
}

h4 {
  font-size: 2rem;
}

p,
h6,
li,
a,
button {
  font-size: 2.2rem;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.about {
  min-height: 100vh;
  width: 100%;
  padding: 100px;
  background: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  overflow: hidden;
}

.about img {
  pointer-events: none;
  position: absolute;
  animation: plant-entrance 1.5s ease-in-out 0.5s forwards, plant-shake 2.5s infinite ease alternate-reverse 2s;
}

.about img:nth-child(2) {
  right: 0;
  bottom: -10%;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}

.about img:nth-child(1) {
  -webkit-transform-origin: top;
          transform-origin: top;
  top: -10%;
  left: 0;
}

.about .about-img {
  background: url("../img/product-img1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 50vh;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

.about .about-details {
  background: #DAF3DE;
  -webkit-box-flex: 2;
      -ms-flex: 2 2 60rem;
          flex: 2 2 60rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0 5rem;
}

.about .about-details button {
  background: #cc9964;
  border: 2px solid #cc9964;
  color: #ffffff;
  padding: 10px 20px;
}

@media screen and (max-width: 1218px) {
  .about-details h4 {
    padding: 5rem 0;
  }
  .about-details h2 {
    padding: 5rem 0;
  }
  .about-details p {
    padding: 5rem 0;
  }
  .about-details button {
    margin: 5rem 0;
  }
}

@media screen and (max-width: 800px) {
  .about {
    padding: 25px;
  }
  .about img {
    width: 65%;
  }
  .about img:nth-child(2) {
    right: -5%;
    bottom: 0%;
  }
}

/*Styling that applies to Landing Page*/
.intro {
  background: #0f3e36;
  width: 100%;
}

/*Navigation Styling*/
nav {
  min-height: 10vh;
  width: 100%;
  padding: 0 100px;
  background: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

nav #logo {
  font-size: 3.2rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

.nav-links {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-links li a {
  color: #0f3e36;
}

.nav-links li a:hover {
  text-decoration: underline;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 2px;
  margin: 5px;
  background-color: #0f3e36;
}

/*Banner Styling*/
.banner {
  min-height: 90vh;
  width: 100%;
  padding: 0 100px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.banner img {
  position: absolute;
  top: 0%;
  right: 0%;
  width: 600px;
  height: auto;
  z-index: 1;
  animation: plant-entrance 1.5s ease-in-out 0.5s forwards, wiggle 2.5s infinite ease alternate-reverse 2s;
  -webkit-transform-origin: top;
          transform-origin: top;
}

.banner-content {
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.banner-content h1 {
  font-size: 8rem;
  color: #ffffff;
}

.banner-content h4 {
  font-size: 3.2rem;
  color: #ffffff;
  padding: 5rem 0;
}

.banner-content .action-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

@media screen and (max-width: 755px) {
  html {
    font-size: 52%;
  }
  /*Making the navbar responsive*/
  .burger {
    display: block;
  }
  .nav-links {
    position: absolute;
    width: 100%;
    height: 90vh;
    top: 10vh;
    right: 0;
    background: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 999;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
  }
  .nav-active {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  /*End of nav styling*/
  .banner {
    padding: 25px;
  }
  .main-button {
    margin: 1rem;
  }
  .secondary-button {
    margin: 1rem;
  }
}

.products {
  min-height: 100vh;
  width: 100%;
  padding: 25px;
  background: #ffffff;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.products-grid {
  width: 100%;
  padding: 0 25px;
  /*Make a automatic grid. Each cell to be minimum 450px by 400px*/
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(450px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  grid-auto-rows: minmax(400px, 500px);
  gap: 1rem;
}

.card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*Flip the card when the user hovers over the main container*/
}

.card-container:hover .product-card {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.card-container .product-card {
  height: 100%;
  width: 100%;
  border: 5px solid #0f3e36;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.card-container .product-card figure {
  width: 100%;
  height: 100%;
  /*stack both front and back*/
  position: absolute;
  margin: 0;
}

.card-container .product-card .card-front h2 {
  padding: 5px;
  background: #0f3e36;
  color: #ffffff;
}

.card-container .product-card .card-back {
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*Rotate the back so it hides behind the front*/
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

/*Apply diffent backgrounds for each card*/
.card-1 {
  background: url("../img/product-img1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.card-2 {
  background: url("../img/product-img2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.card-3 {
  background: url("../img/product-img3.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.buy-button {
  padding: 10px 25px;
  color: #ffffff;
  background: #0f3e36;
  cursor: pointer;
  border: 2px solid #0f3e36;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.buy-button:hover {
  color: #0f3e36;
  background: #ffffff;
}

@media screen and (max-width: 500px) {
  .products {
    padding: 10px;
  }
  .products-grid {
    width: 100%;
    padding: 0 25px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(360px, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
    grid-auto-rows: minmax(350px, 400px);
  }
}

.reviews {
  min-height: 100vh;
  background: url("../img/reviews-background.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 100px;
}

.reviews > h1 {
  color: #ffffff;
  padding: 50px 0;
}

.reviews .reviews-cards {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(495px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(495px, 1fr));
  grid-auto-rows: minmax(650px, 1fr);
  gap: 2rem;
}

.reviews .reviews-cards .card {
  padding: 25px;
  background: #0f3e36;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reviews .reviews-cards .card img {
  width: 30rem;
  height: 30rem;
  border-radius: 50%;
}

.reviews .reviews-cards .card h2 {
  font-size: 4rem;
}

@media screen and (max-width: 800px) {
  .reviews {
    padding: 25px;
  }
  .reviews h1 {
    padding: 50px 0;
    margin-bottom: 10px;
  }
  .reviews .reviews-cards {
    -ms-grid-columns: (minmax(495px, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(495px, 1fr));
    grid-auto-rows: minmax(450px, 1fr);
    gap: 2rem;
  }
}

@media screen and (max-width: 545px) {
  .reviews .reviews-cards {
    -ms-grid-columns: (minmax(320px, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    grid-auto-rows: minmax(400px, 1fr);
  }
}

footer {
  min-height: 50vh;
  width: 100%;
  padding: 100px;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

footer .footer-address {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  text-align: center;
}

footer .footer-address p {
  padding: 1rem 0;
}

footer .footer-details {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer-details ul li {
  padding: 1rem;
}

.footer-details ul li a {
  color: white;
  font-size: bold;
}

.footer-details ul .link-head {
  font-size: 2.5rem;
  padding: 0 0 2rem 0;
}

@media screen and (max-width: 1015px) {
  .footer-address {
    margin-bottom: 5rem;
  }
}

@media screen and (max-width: 500px) {
  footer {
    padding: 25px;
  }
}

@media screen and (max-width: 100px) {
  /*Example for media queries*/
}

.modal-container {
  min-height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.modal-container-active {
  visibility: visible;
  opacity: 1;
}

.modal {
  min-height: 40vh;
  width: 50vw;
  background: #0f3e36;
  color: #ffffff;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal h2 {
  text-align: center;
}

.subscribe {
  width: 80%;
  height: 50px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.subscribe input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20rem;
          flex: 1 1 20rem;
  height: 100%;
  border: 2px solid #cc9964;
  outline: none;
}

.subscribe button {
  height: 100%;
}

.button-x {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px;
  font-size: 1.6rem;
  color: #ffffff;
  cursor: pointer;
}

@media screen and (max-width: 890px) {
  .modal {
    min-height: 50vh;
    width: 80vw;
  }
  .modal button {
    margin: 5px 0 !important;
  }
}
/*# sourceMappingURL=style.css.map */