$main-color: #0f3e36;
$highlight-color: #cc9964;
$secondary-color: #ffffff;

$header1: 4rem;
$header2: 3.2rem;
$header3: 2.6rem;
$header4: 2rem;
$text: 2.2rem;

@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin position($position, $size, $repeat) {
  background-position: $position;
  background-size: $size;
  background-repeat: $repeat;
}

@keyframes opening{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

@keyframes plant-entrance {
  from {
    transform: rotateX(-90deg);
  }
  to {
    transform: rotateX(0deg);
  }
}

@keyframes wiggle {
  from {
    transform: rotateX(-20deg);
  }
  to {
    transform: rotateX(0deg);
  }
}

@keyframes plant-shake {
  from {
    transform: rotateZ(5deg);
  }
  to {
    transform: rotateZ(0deg);
  }
}

@media screen and (max-width: 800px){
  html{
    font-size: 52%;
  }
}

@import "global";
@import "about";
@import "intro";
@import "products";
@import "reviews";
@import "footer";
